{% extends 'base.html' %}
{% load total_itens %}


{% block 'title' %} Pedidos {% endblock %}
{% block 'conteudo'%}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md  mb-3">
            <h2>Itens da comanda: </h2>
            <table class="table table-light">
                <thead>
                    <th>Item</th>
                    <th>Qtd</th>
                    <th>Preço</th>
                    <th>Total</th>
                </thead>

            {% for i in pedido %}
                <tbody>
                    <td>{{i.id_item}}</td>
                    <td>{{ i.quantidade }}</td>
                    <td>R$ {{ i.id_item.preco }}</td>
                    <td>R$ {{ i.id_item.preco | total_linha:i.quantidade }}</td>
                </tbody>


            {% endfor %}

                <tfoot>
                    <tr>
                        <th colspan="1"></th>
                        <th class="text-center">TOTAL</th>
                        <th class="text-center">1286</th>
                        <th colspan="4"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}